{% set repos %}
  {% if NIGHTLY_REPO is defined %}
    <repo name="Nightly-BaseOS" url="http://download.eng.rdu2.redhat.com/rhel-9/nightly/updates/RHEL-9/{{ NIGHTLY_REPO }}/compose/BaseOS/{{ ARCH }}/os/"/>
    <repo name="Nightly-AppStream" url="http://download.eng.rdu2.redhat.com/rhel-9/nightly/updates/RHEL-9/{{ NIGHTLY_REPO }}/compose/AppStream/{{ ARCH }}/os/"/>
    <repo name="Nightly-CRB" url="http://download.eng.rdu2.redhat.com/rhel-9/nightly/updates/RHEL-9/{{ NIGHTLY_REPO }}/compose/CRB/{{ ARCH }}/os/"/>
    {% if TREE.endswith("-rt") %}
      <repo name="Nightly-RT" url="http://download.eng.rdu2.redhat.com/rhel-9/nightly/updates/RHEL-9/{{ NIGHTLY_REPO }}/compose/RT/{{ ARCH }}/os/"/>
    {% endif %}
  {% endif %}
  {% if PULP_RELEASE is defined %}
    <repo name="pulp_0" url="https://rhsm-pulp.corp.redhat.com/content/{{ distro_type }}/rhel9/{{ PULP_RELEASE }}/{{ ARCH }}/appstream/os/"/>
    <repo name="pulp_1" url="https://rhsm-pulp.corp.redhat.com/content/{{ distro_type }}/rhel9/{{ PULP_RELEASE }}/{{ ARCH }}/baseos/os/"/>
    <repo name="pulp_2" url="https://rhsm-pulp.corp.redhat.com/content/eus/rhel9/{{ PULP_RELEASE }}/{{ ARCH }}/codeready-builder/os/"/>
    {% if TREE.endswith("-rt") %}
      <repo name="pulp_3" url="https://rhsm-pulp.corp.redhat.com/content/e4s/rhel9/{{ PULP_RELEASE }}/{{ ARCH }}/rt/os/"/>
    {% endif %}
  {% endif %}
{% endset %}
