<or>
  <device op="=" type="video" driver="amdgpu"/>
  <device op="=" type="video" driver="i915"/>
  <device op="=" type="video" driver="nouveau"/>
  <device op="=" type="video" driver="virtio-pci"/>
  <device op="=" type="video" driver="qxl"/>
</or>
